.home-container {
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;

}

.header-posts {
  display: flex;
  justify-content:space-between;
  text-align: end;
  color: rgb(200, 200, 212);

}

.post-preview {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #09f638;
  background-color: transparent;
  min-height: 240px;
  max-height: 250px;
  overflow: hidden;
  padding: 10px;
  display: block;
  position: relative;

  h3 {
    font-size: 2rem;

  }



  .trix-content {
    color: #fff5f5; // Add your desired text color
    font-size: 16px; // Adjust this value to your desired font size

  }



    &.older-post-preview {
      height: 83px; // Set the height to one-third of the original height (250px / 3)
      overflow: hidden;
      padding: 10px;
    }
}



.bio {
  width: 300px;
  height: auto;
  border: 2px solid #ff0cf7;
  background-color: black;
  color: whitesmoke;
  overflow: hidden;
  margin-bottom: 20px;
  justify-content: center;
  font-size: 14px;
  padding: 25px;
  hyphens: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.drop-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.drop-preview {
  padding: 10px;
  width: 140px;
  height: 140px;
  border: 2px solid #00F;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  // justify-content: space-between;

  h3 {
    font-size: 1rem;
  }

  .trix-content {
    color: #fff7ff; // Add your desired text color
    font-size: 12px; // Adjust this value to your desired font size


  }
}
