<div class="container text-center">
  <h1>Posts</h1>
  <div class="text-decoration-none">
    <ul>
      <% @posts.each do |post| %>
        <li>
          <%= link_to post.title, post_path(post) %>
          <p><%= post.callout %></p>
        </li>
      <% end %>
    </ul>
  </div>

  <% if @user.admin? %>
    <%= link_to "New Post", new_post_path %>
  <% end %>
</div>
